*{
    box-sizing: border-box;
}
.hero__banner{
    position: relative;
}
.hero__banner--logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.wusca__about{
    padding: 64px 20px;
    max-width: 800px;
    margin: 0 auto;
}
@media screen and (max-width: 767px){
    .wusca__about{
        padding: 40px 16px;
    }
}

.wusca-card{
    /* max-width: 392px; */
    min-width: 320px;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 8px;
    overflow: hidden;
}

.wusca-card:hover{
    background-color: var(--neutral-900);
}

.wusca-card:hover .wusca-card__content{
    color: var(--white);
}

.wusca__category,
.wusca__points{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

@media screen and (max-width: 1250px){
    .wusca__category{
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        padding: 0 16px 0px;
        scroll-padding: 16px;
        display: flex;
        justify-content: start;
        gap: 8px;
    }
    .wusca__pod{
        scroll-snap-align: start;
        max-width: 320px;
        width: 100%;
    }
    .wusca__points{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 24px;
    }
    .px20-1300{
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 500px){
    .wusca__points{
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 20px;
        row-gap: 24px;
    }
}

.cta.text-transform-none{
    text-transform: none;
}
.review-pod-content-cta .cta {
    text-transform: unset;
    display: flex;
    align-items: center;
}
.review-pod-content-cta .cta span{
    height: 20px;
    width: 20px;
    margin-left: 6px;
}

@media only screen and (max-width: 767px){
    .review-pod {
        height: 564px;
        overflow: hidden;
    }

}

.wusca-card__content .overline-small{
    display: block;
}
/* .wusca-card .wusca-card__content{
    width: 164px;
} */
.display-small,
.display-large,
.heading-h1,
.heading-h2,
.heading-h3,
.heading-h4,
.heading-h5,
.heading-h6 {
    letter-spacing: -1px;
}
.wusca-card .wusca-card__content .heading-h5{
    display: block;
    width: 130px;
}
.wusca__category .wusca-card .wusca-card__content .heading-h5.ext-width{
    width: 152px;
}
.picture-nav .owl-dots {
    display: none;
}
.picture-nav .owl-stage .owl-item .student-bg{
    position: absolute;
    right: 20px;
    background-position: center;
    top: 0;
    height: 100%;
    object-fit: scale-down;

}
/* media query only for desktop */
@media only screen and (min-width: 1201px) {
    .owl-item .picture-card:hover {
        background-color: var( --neutral-900) !important;
    }
    .hero_banner--right {
        height: 400px;
    }
    .hero_banner--left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 400px;
    }
    .hero_banner--left .breadcrumb-wrap{
        padding-top: 24px;
    }
    .hero_banner--left .breadcrumb-wrap > div{
        margin-top: 0px;
        padding-top: 24px;
        padding-bottom: 40px;
    }
}
/* media query for ipad and mobile  */
@media only screen and (max-width: 1200px) {
    .review-pod-container.container-xl{
        padding-left: 0px;
        padding-right: 0px;
    }
    .sticky-tab--nav-left-btn-ctn, .sticky-tab--nav-right-btn-ctn {
        display: none;
    }
    .sticky-tab--desc {
        padding: 16px;
        width: 100%;
    }
    .sticky-tab--desc h4{
        padding-right: 21px;
    }
    .sticky-tab--tabs-container{
        overflow-x: scroll;
        padding-left: 16px;
        padding-right: 10px;
    }
    .sticky-tab--container{
        padding-right: 0;
        padding-left: 0;
    }
    .picture-nav--container{
        padding-right: 0;
    }
    .result-pod .get-proposal-btn {
        display: block;
        width: 100%;
        position: unset;
        margin-top: 28px;
    }
    .review-pod-container {
        padding-left: 0;
        padding-right: 0;
    }
    .result-pod--left,.result-pod--right{
        padding: 16px;
    }
    .btn-bottom-flex {
        justify-content: space-between;
    }
    .cust-pad-bottom{
        padding-bottom: 40px;
    }
    .result-pod--cta-ctn {
        flex-direction: column;
        justify-content: space-between;
    }
    .sticky-tab--tabs{
        height: 40px;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 16px;
    }    
    .sticky-tab--container {
        padding-bottom: 32px;
    }
    .result-pod .fav-icon:hover .heart-filled{
        display: none;
    }
    .result-pod .fav-icon:hover{
        border-radius: 24px;
        border: 1px solid var(--Secondary-500, #3460dc);
        background: var(--Generic-White, #fff);
        box-shadow: 0 1px 2px 0 rgba(16,24,40,.05);
    }
    .result-pod .fav-icon.heart-favoured .heart-outline{
        display: none;
    }
    .result-pod .fav-icon .heart-outline{
        display: flex !important;
    }
    .result-pod .fav-icon.heart-favoured .heart-filled{
        display: flex;
    }
    .result-pod .fav-icon.heart-favoured{
        border: 1px solid var(--Secondary-500, #3460DC);
        background: var(--primary-200, #BAEDFF);
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    }
    .result-pod .fav-icon.heart-favoured .heart-outline{
        display: none !important;
    }

    .picture-card:hover .picture-card-title-ctn .top10,.picture-card:hover .picture-card-title-ctn .picture-card-title{
        color: var(--neutral-900,#0f172a);
    }
    .picture-card:hover {
        opacity: 1;
    }
    div#lastYearRanking{
        justify-content: space-between;
    }

}

/* ipad screen only  */
@media screen and (min-width: 768px) and (max-width: 1200px){
    .owl-carousel.owl-drag .owl-item.active{
        width: 320px !important;
    }
    .review-pod--content-star-group-one{
        position: absolute;
        left: -12%;
        height: 300px;
    }
    .review-pod--content-text-group-two{
        margin: 0 auto;
    }
    .review-pod--content-star-group-three{
        position: absolute;
        right: -19.5%;
        height: 300px;
    }
    .hero-banner-deskImg{
        display: block;
    }
    .hero-banner-mobiImg{
        display: none;
    }
    .hero_banner--bg {
        padding-right: 0px;
        overflow: hidden;
    }
    .hero_banner--left {
        width: 30%;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    .hero_banner--right {
        width: 40%;
        height: 353px;
    }
    .hero_banner--heading{
        width: 100%;
        font-size: 44px;
        line-height: 48px;
    }
    .hero_banner--bg{
        height: 352px;
        padding-left: 16px;
    }
    .hero-banner{
        padding-right: 0px;
        padding-left: 0px;
        height: 100%;
    }
    .result-pod .get-proposal-btn {
        width: 100%;
        position: unset;
        margin-top: 40px;
    }
    .review-pod--container-content {
        position: relative;
        overflow: hidden;
    }
    
}

/* Media for mobile only  */
@media only screen and (max-width: 767px) {
    .hero-banner-deskImg{
        display: none;
    }
    .hero-banner-mobiImg{
        display: block;
    }
    .hero_banner--bg {
        padding-right: 0px;
        overflow: hidden;
    }
   
    .result-pod {
        flex-direction: column;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
    .result-pod--left {
        width: 100%;
        height: 228px;
    }
    .result-pod--background-img img {
        border-bottom-left-radius: 0px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }
    .result-pod--right {
        height: auto;
        padding: 16px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
     
    .review-pod--container-content {
        flex-direction: column;
    }
    .review-pod--content-star-group-one .rating-group--one, .review-pod--content-star-group-one .rating-group--three {
        padding-left: 0;
    }
    .review-pod--content-star-group-one, .review-pod--content-star-group-three{
        flex-direction: row;
        /* margin-left: -30%; */
    }
    .review-pod--content-star-group-three .rating-group--one, .review-pod--content-star-group-three .rating-group--three{
        padding-right: 0;
    }
    .review-pod--content-student-rating.rating-group--two{
        padding-left: 24px;
        padding-right: 24px;
    }
    .review-pod-container.contain-container {
        padding: 40px 0 40px 0;
    }
    .review-pod{
        height: 588px;
        overflow: hidden;
    }
    .review-pod-content-cta {
        width: 100%;
        padding: 0 16px;
    }
    .review-pod--content-text-group-two{
        width: 100%;
        padding: 24px 0;
    }
    .review-pod  .award-logo-holder{
        margin-bottom: 24px;
    }
    .result-pod--star-span {
        flex-wrap: wrap;
    }
    .picture-nav .owl-carousel.owl-drag .owl-item.active {
        width: 320px !important;
    }
    .picture-nav .owl-carousel .owl-stage{
        display: flex;
        flex-wrap: nowrap;
    }
    .hero_banner--left {
        width: 60%;
        padding-top: 40px;
        padding-bottom: 24px;
    }
    .hero_banner--right {
        width: 40%;
        height: 353px;
    }
    .hero_banner--heading{
        width: 100%;
        max-width: 220px;
        font-size: 44px;
        line-height: 48px;
    }
    .hero_banner--bg{
        height: 352px;
        padding-left: 16px;
    }
    .hero-banner{
        padding-right: 0px;
        padding-left: 0px;
        height: 100%;
    }
    .cust-pad-bottom {
        padding-bottom: 40px;
    }
    .sticky-tab--desc{
        padding-bottom: 0;
    }
}


