:root {
    --white: #ffffff;
    --gray: #707070;
    --gray2: #767676;
    --gray-light-op5: rgb(118 118 118 / 5%);
    --gray-op5: rgb(119 119 119 / 5%);
    /* v2 colors */
    --text: #0F172A;
    --text-op5: rgb(15 23 42 / 5%);
    --primary-v2: #3460DC;
    --primary-v2-dark: #173EAD;
    --primary-v2-focus: #00A0FF;
    --red-v2: #DC2626;
    --text-light: #343434;
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Regular';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.svg?v=4.0.3#Lato-Regular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Bold';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.svg?v=4.0.3#Lato-Bold) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Black';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.svg?v=4.0.3#Lato-Black) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'FontAwesome';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesome) format("svg");
    font-weight: normal;
    font-style: normal
}

.font-regular {
    font-family: "Lato-Regular", Arial;
}

.font-bold {
    font-family: "Lato-Bold", Arial;
}

.font-black {
    font-family: "Lato-Black", Arial;
}

.no-underline{
    text-decoration: none;
}

.tab-cta{
    margin: 32px 0;
}

.btn-radio{
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--white);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
    user-select: none;
}

.btn-radio input[type="radio"]{
    max-width: 20px;
    width: 100%;
    height: 20px;
}

.btn-radio.active{
    border: 3px solid #3460DC;
    background-color: rgba(52,96,220,0.1);
}

.btn-radio:hover,
.btn-radio:focus{
    background-color: rgba(52,96,220,0.1);
}

.btn-radio label{
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.btn-radio .slot{
    gap: 40px;
    cursor: pointer;
}

.btn-radio .slot span{
    font-size: 14px;
    line-height: 20px;
}

.btn-disabled-v2{
    background-color: rgb(15 23 42 / 25%);
    border-color: rgb(15 23 42 / 25%);
    color: var(--white);
}
.btn:hover{
    filter: brightness(0.95)
}

.no-shrink{
    flex-shrink: 0;
}

.gap12{
    gap: 12px;
}

.btn-primary-v2-outlined {
    background-color: var(--white);
    color: var(--primary-v2);
    border-color: var(--primary-v2);
}

.no-result-pod{
    padding: 24px 94px;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
}
.btn-radio-wrap{
    position: relative;
    padding: 6px;
}
/* .btn-radio-wrap::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background: linear-gradient(180deg, rgba(238,238,238,0) 0%, #F8F8F8 100%);
} */
.btn-white-v2{
    color: var(--primary-v2);
    background-color: var(--white);
    padding: 10px;
    border-radius: 24px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
    margin-top: 26px;
    font: 14px/20px "lato-Bold";
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.03), 0 16px 24px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 130px;
}
.btn-white-v2:hover{
    color: var(--white);
    background-color: var(--primary-v2);
}
.icon-plus{
    background: var(--white) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_plus_blue_v2.svg) no-repeat 16px 15px;
    background-size: 10px;
}
.icon-plus:hover{
    background: var(--primary-v2) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_plus_white.svg) no-repeat 16px 15px;
    background-size: 10px;
}
.icon-minus{
    background: var(--white) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_minus_blue_v2.svg) no-repeat 20px 19px;;
    /* background-size: 9px; */
}
.icon-minus:hover{
    background: var(--primary-v2) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_minus_white.svg) no-repeat 20px 19px;;
    /* background-size: 9px; */
}
.ml22{
    margin-left: 22px;
}
@media screen and (max-width: 480px)  {
    .tab-cta {
        margin: 8px 24px;
    }    
    .no-result-pod{
        padding: 38px 34px;
    } 
}
@media screen and (max-width: 767px) {
    .btn-radio{
        align-items: flex-start;
    }
    .btn-radio label{
        align-items: flex-start;
    }
    .btn-radio .slot{
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}


/* ----------------------------- */

.bg-text-op5{
    background-color: var(--text-op5);
}

.book-event-form{
    position: relative;
}

.arrow-down{
    background: url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/cheveron-down-v2.svg) no-repeat center center;
    background-size: 100%;
    flex-shrink: 0;
    width: 10px;
    height: 6px;

}

.btn-radio.selected{
    border: 1px solid var(--primary-v2);
}

.option-wrap .btn-radio{
    border-radius: 0;
    box-shadow: none;
}

.book-event-form .option-wrap{
    /* display: none; */
    position: absolute;
    width: 100%;
    top: 0;
    padding: 12px 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
}

.book-event-form .selected:focus + .option-wrap,
.book-event-form .selected:hover + .option-wrap{
    display: block;
}

.px24{
    padding-left: 24px;
    padding-right: 24px;
}

.py12{
    padding-top: 12px;
    padding-bottom: 12px;
}

@media screen and (max-width: 480px)  {
    .book-event-form .btn-radio label {
        align-items: center;
    }
    .book-event-form .arrow-down{
        margin-bottom: auto;
    }
}

@media screen and (max-width: 767px) {
    .btn-radio .slot{
        flex-direction: column;
        gap: 4px;
        align-items: flex-start;
    }
}

