:root {
    --white: #ffffff;
    --gray: #707070;
    --gray2: #767676;
    --gray-light-op5: rgb(118 118 118 / 5%);
    --gray-op5: rgb(119 119 119 / 5%);
    --form-border: #C3C5CA;
    /* v2 colors */
    --text: #0F172A;
    --text-op5: rgb(15 23 42 / 5%);
    --primary-v2: #3460DC;
    --primary-v2-dark: #173EAD;
    --primary-v2-focus: #00A0FF;
    --red-v2: #DC2626;
    --green-v2: #047857;
    --text-light: #343434;
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Regular';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Regular.svg?v=4.0.3#Lato-Regular) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Bold';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Bold.svg?v=4.0.3#Lato-Bold) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'Lato-Black';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/Lato-Black.svg?v=4.0.3#Lato-Black) format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-display: fallback;
    font-family: 'FontAwesome';
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.eot?v=4.0.3);
    src: url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3) format("embedded-opentype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.woff?v=4.0.3) format("woff"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.ttf?v=4.0.3) format("truetype"), url(https://images-dom.prod.aws.idp-connect.com/wu-cont/cssstyles/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesome) format("svg");
    font-weight: normal;
    font-style: normal
}

.font-regular {
    font-family: "Lato-Regular", Arial;
}

.font-bold {
    font-family: "Lato-Bold", Arial;
}

.font-black {
    font-family: "Lato-Black", Arial;
}

/* -----------Book event IP page------------------ */


.no-underline{
    text-decoration: none;
}   

.btn-radio.active{
    border: 3px solid #3460DC;
    background-color: rgba(52,96,220,0.1);
}

.gap12{
    gap: 12px;
}

.btn-primary-v2-outlined {
    background-color: var(--white);
    color: var(--primary-v2);
    border-color: var(--primary-v2);
}

.btn-primary-v2-outlined:hover {
    background-color: var(--primary-v2);
    color: var(--white);
    border-color: var(--white);
}

.btn-radio-wrap{
    position: relative;
    padding: 6px;
}

.btn.btn-green-v2 {
    color: var(--white);
    background-color: var(--green-v2);
    border-color: var(--green-v2);
}

.btn-white-v2{
    color: var(--primary-v2);
    background-color: var(--white);
    padding: 10px;
    border-radius: 24px;
    display: inline-block;
    margin: 26px auto 0;
    text-align: center;
    font: 14px/20px "Lato-Bold", Arial;
    box-shadow: 0 0 8px 2px rgba(0,0,0,0.03), 0 16px 24px 0 rgba(0,0,0,0.1);
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    min-width: 130px;
}
.btn-white-v2:hover{
    color: var(--white);
    background-color: var(--primary-v2);
}
.btn.btn-disabled-v2 {
    color: var(--white);
    background-color: var(--gray4);
    border-color: var(--gray4) ;
}
.icon-plus{
    background: var(--white) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_plus_blue_v2.svg) no-repeat 16px 15px;
    background-size: 10px;
}
.icon-plus:hover{
    background: var(--primary-v2) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_plus_white.svg) no-repeat 16px 15px;
    background-size: 10px;
}
.icon-minus{
    display: none;
    background: var(--white) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_minus_blue_v2.svg) no-repeat 20px 19px;;
}
.icon-minus:hover{
    background: var(--primary-v2) url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/ch21_minus_white.svg) no-repeat 20px 19px;;
}
.ml22{
    margin-left: 22px;
}
.d-inline-flex{
    display: inline-flex;
}

/* ----------Book event IP page & Book event form------------------- */

.tab-cta{
    margin: 8px 0 24px 0;
}

.btn-radio{
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: var(--text);
    background-color: var(--white);
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
    user-select: none;
}

.btn-radio input[type="radio"]{
    max-width: 20px;
    width: 100%;
    height: 20px;
    -webkit-appearance: auto;
    -moz-appearance: auto;
    -o-appearance: auto;
    appearance: auto;
}

.btn-radio:hover,
.btn-radio:focus{
    background-color: rgba(52,96,220,0.1);
}

.btn-radio label{
    gap: 16px;
    align-items: center;
    cursor: pointer;
}

.btn-radio .slot{
    gap: 40px;
    cursor: pointer;
}

.btn-radio .slot span{
    font-size: 14px;
    line-height: 20px;
}
.btn-radio.hide,
.hide{
    display: none;
}
.btn:hover{
    filter: brightness(0.95)
}

.no-shrink{
    flex-shrink: 0;
}

.no-result{
    padding: 22px 96px;
    text-align: center;
    border-radius: 4px;
    background-color: var(--white);
    margin-left: 4px;
    margin-right: 4px;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
}

.w-115px{
    width: 100%;
    max-width: 115px;
}
@media screen and (max-width: 767px) {
    .btn-radio{
        align-items: flex-start;
    }
    .btn-radio label{
        align-items: flex-start;
    }
    .btn-radio .slot{
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    .no-result{
        padding: 32px 36px;
        text-align: left;
    }
}


/* --------------Book event form --------------- */

.bg-text-op5{
    background-color: var(--text-op5);
}

.book-event-form{
    position: relative;
}

.arrow-down{
    background: url(https://images-dom.aws.test.idp-connect.com/wu-cont/images/cheveron-down-v2.svg) no-repeat center center;
    background-size: 100%;
    flex-shrink: 0;
    width: 10px;
    height: 6px;

}
.book-event-form .btn-radio{
    box-shadow: none;
}

.btn-radio.selected{
    border: 1px solid var(--primary-v2);
}

.option-wrap .btn-radio{
    border-radius: 0;
    box-shadow: none;
}

.book-event-form .option-wrap{
    display: none;
    position: absolute;
    width: 100%;
    max-height: 370px;
    overflow: auto;
    top: 0;
    z-index: 1;
    padding: 12px 0;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.03), 0 6px 10px 2px rgba(0,0,0,0.08);
}

/* .book-event-form .selected:focus + .option-wrap,
.book-event-form .selected:hover + .option-wrap{
    display: block;
} */

.px24{
    padding-left: 24px;
    padding-right: 24px;
}

.py12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.form-divider{
    height: 1px;
    background-color: var(--form-border);
    margin: 16px 0;
}

@media screen and (max-width: 480px)  {
    .book-event-form .btn-radio label {
        align-items: center;
    }
}

@media screen and (max-width: 767px) {
    .btn-radio .slot{
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
}

